body {
  background-image: url(images/Manu_stadium.jpg);
  background-color: gray;
  background-attachment: fixed;
  background-size: cover;
}

.text-white {
  color: white;
  font-size: 40px;
  font-family: "Geneva, Verdana, sans-serif";
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game {
  background-color: rgb(244, 244, 249);
  padding: 10px;
  border: 4px solid rgb(162, 161, 161);
  border-radius: 30px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.score {
  word-spacing: 30px;
  font-size: 22px;
}

.Teamclass {
  font-size: 24px;
}
